# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
cmake-build-debug
*/.idea

build
*/build

3rd_party/GLFW_Lib
3rd_party/Eigen_Lib
eigen-*


.vs
.vscode

CMakeFiles

.DS_Store